@font-face{
    font-family: "OpenSans";
    src: url('../font/OpenSans-Regular.ttf');
    font-size: 14px;  
}

@font-face{
    font-family: "nasalization";
    src: url('../font/nasalization-rg.ttf');
}

body{
    background-color: #f2f2f2;
    font-family: "OpenSans";
}

.contenu{
    width: 810px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "OpenSans";
}

header{
    font-family: "OpenSans";
    height: 150px;
    background-image: url("../assetsD04/texture-header.jpg");
}

h1{
    text-align: center;
    font-family: nasalization;
    font-size: 40px;
    color: #27d1ff;
    vertical-align: middle;
}

nav{
    color: white;
    display: inline-block 100%;
    background-color: #2e2f30;
    padding-right: 50px;
    margin: 0px;
    text-align: right;
    vertical-align: middle;
}

.encours{
    color: #17c1ff;
    font-weight: bold;
}

a{
    text-decoration: none;
}

a:visited{
    color: white;
}
a:hover{
    color: #17c1ff;
}

.imageep{
    text-align: center;
}

h2{
    text-transform: uppercase;
    text-shadow: 2px 2px grey;
    color: #e6e6e6;
}

p{
    text-align: center;
    width: 750px;
    padding: 10px;
}
.picture1{
    float: left;
}

.picture2{
    float: right;
}

.picture{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.picturesize{
    width: 80%;
}

footer{
    padding: 5%;
}

.tableau{
    height: 480px;
    overflow-x: scroll;
    background-color: white;
}

th{
    color: white;
    background-color: #27d1ff;
    text-transform: uppercase;
}

form{
    outline: none;
    width: 300px;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: solid 4px #e6e6e6;
}

button{
    text-align: center;
}

button:hover{
    background-color: #17c1ff;
    color: white;
    border: none;
}

button:active{
    box-shadow: inset 1px 1px 1px 1px black;
}

input{
    width: 250px;
    height: 30px;
    border: solid 2px #e6e6e6;
}

input:hover{
    border:2px solid #17c1ff;
}

.messagepart{
    height: 60px;
}